<div class="gamecard"  *ngIf="game">
    <div class="gamecardcontent" [ngClass]="{'update': updateSpread || updateResult }" *ngIf="!isUpdating">
        <div class="infoview">
            <p class="infoviewlabel">Week: </p> <p class="infoviewvalue">{{game.week}}</p>
            <!-- <p *ngIf="gameDate" class="infoviewdate">
                {{getGameHour(gameDate)}}:00 - {{getGameDay(gameDate)}} 
                {{gameDate.toDateString().split(" ")[1]}} {{gameDate.getUTCDate() +1}}
            </p> -->
            <p *ngIf="gameDate" class="infoviewdate">
                <!-- {{gameDate | date:'shortTime'}} {{gameDate | date: "mediumDate" }} -->
                {{gameDate | date:'HH:mm E d LLL'}} 
            </p>

            <div *ngIf="isAdmin" class="gameoptions">
                <button [matMenuTriggerFor]="menu" class="adminbutton" color="primary" mat-icon-button>
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="toggleSpread()" mat-menu-item>Change Line</button>
                    <button (click)="toggleResult()"  mat-menu-item>Add Result</button>
                    <!-- <button (click)="toggleLarge()" mat-menu-item>Large</button> -->
                    <button (click)="deleteGame()" mat-menu-item>Delete Game</button>
                </mat-menu>
            </div>
        </div>
        <div class="gameinfo">
            
        </div>
        <div class="hometeam teamview">
            <div class="teamimage">
                <img src="{{game.hometeam.imageurl}}" alt="{{game.hometeam.name}}">
            </div>
            <p class="teamname">{{game.hometeam.name}}</p>
            <p class="record">({{game.hometeam.record}})</p>
    
        </div>
        <div class="awayteam teamview">
            <div class="teamimage">
                <img src="{{game.awayteam.imageurl}}" alt="{{game.awayteam.name}}">
            </div>
            <p class="teamname">{{game.awayteam.name}}</p>
            <p class="record">({{game.awayteam.record}})</p>
        </div>


        <div *ngIf="game.result.length > 0" class="result hresult loser" [ngClass]="{'winner' : game.result[0] > game.result[1]}">
            <p>{{game.result[0]}}</p>
        </div>
        <div *ngIf="game.result.length > 0" class="result aresult loser" [ngClass]="{'winner' : game.result[1] > game.result[0]}">
            <p>{{game.result[1]}}</p>
        </div>


        <div class="buttonrow">
            <button matTooltip="Too late to place prediction" [matTooltipDisabled]="canPlacePrediction()" [disabled]="!canPlacePrediction()" (click)="setPrediction(1)" [ngClass]="{'predictedbutton' : seeIfPredicted( 1)}"  class="predictionbutton" color="primary" mat-stroked-button>
                {{game.hometeam.abbreviation | uppercase}} {{(isTeamFavorite(game.hometeam, game) ? '-' : '+') }}{{game.spread}}
            </button>
            <button matTooltip="Too late to place prediction" [matTooltipDisabled]="canPlacePrediction()" [disabled]="!canPlacePrediction()" (click)="setPrediction(2)" [ngClass]="{'predictedbutton' : seeIfPredicted( 2)}" class="predictionbutton" color="primary" mat-stroked-button>
                Push
            </button>
            <button matTooltip="Too late to place prediction" [matTooltipDisabled]="canPlacePrediction()" [disabled]="!canPlacePrediction()" (click)="setPrediction(3)" [ngClass]="{'predictedbutton' : seeIfPredicted( 3)}" class="predictionbutton" color="primary" mat-stroked-button>
                {{game.awayteam.abbreviation  | uppercase}} {{(isTeamFavorite(game.awayteam, game) ? '-' : '+')}}{{game.spread}}
            </button>
        </div>
        <div class="spreadnotsetinfo"></div>
        <div class="spreadupdate" *ngIf="updateSpread">
            <mat-form-field [style.width.px]=100  appearance="outline">
                <mat-label>Spread</mat-label>
                <input matInput min="0" type="number" [formControl]="newSpread" step="0.5">
            </mat-form-field>
            <mat-form-field [style.width.px]=120  appearance="outline">
                <mat-label>Favorite</mat-label>
                <mat-select [formControl]="newFavorite">
                    <mat-optgroup label="Home Team">
                        <mat-option value="{{game.hometeam._id}}">
                            <span>{{game.hometeam.abbreviation}}</span>
                        </mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Away Team">
                        <mat-option value="{{game.awayteam._id}}">
                            <span>{{game.awayteam.abbreviation}}</span>
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <button (click)="onUpdateSpread()" mat-icon-button color="primary"><mat-icon>update</mat-icon></button>
        </div>
        <div class="resultupdate" *ngIf="updateResult">
            <mat-form-field [style.width.px]=100  appearance="outline">
                <mat-label>Home Result</mat-label>
                <input matInput type="number" min="0" [formControl]="newHometeamResult">
            </mat-form-field>
            <mat-form-field [style.width.px]=100  appearance="outline">
                <mat-label>Away Result</mat-label>
                <input matInput type="number" min="0" [formControl]="newAwayteamResult">
            </mat-form-field>
            <button (click)="onUpdateResult()" mat-icon-button color="primary"><mat-icon>update</mat-icon></button>
        </div>
    </div>
    <div class="gamecardloading" *ngIf="isUpdating">

        <mat-spinner></mat-spinner>
    </div>
</div>
