.adminpanelcontainer{
    grid-column: 1/5;
    

    .gamesettings{
        background-color: white;
        padding: 10px;
        border-radius: 6px;
        height: 200px;


        .settingscontent{
            display: flex;
            flex-direction: column;



            .setweek{
                display: flex;
                flex-direction: row;

                align-items: baseline;

                .weekselect{
                    margin-left: 30px;
                }
            }
        }

    }

}

.teamcontainer{
    margin-top: 10px;
    grid-column: 1/5;

    height: fit-content;
    max-height: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 6px;

    .teamlist{
        height: fit-content;
        max-height: 350px;
        overflow-y: auto;
        background-color: #f0f2f3;

        .teamsettings{
            height: inherit;
            width: inherit;
            display: flex;
            flex-direction: row;

            .recordupdate{
                display: flex;
                flex-direction: column;

                .currentrecord{
                    align-self: center;
                }
            }
        }
    }

}

@media only screen and (min-width: 700px){
}