<div class="toolbarcontainer">
    <div class="toolbarcontent">

        <div class="navbuttons">
            <button mat-icon-button routerLink="/games" class="gamesbutton"><mat-icon>sports_football</mat-icon></button>
            <button mat-icon-button routerLink="/addgame" class="gamesbutton"><mat-icon>add</mat-icon></button>    
            <button *ngIf="isLoggedIn" mat-icon-button routerLink="/user" class="gamesbutton"><mat-icon>account_circle</mat-icon></button>
            <button *ngIf="isLoggedIn" mat-icon-button routerLink="/user" class="gamesbutton"><mat-icon>leaderboard</mat-icon></button>
            <button *ngIf="isLoggedIn && isAdmin" mat-icon-button routerLink="/admin" class="gamesbutton"><mat-icon>admin_panel_settings</mat-icon></button>


        </div>

        <div class="loginlogoutbuttons">
            <button *ngIf="!isLoggedIn" class="loginbutton" routerLink="/auth" mat-icon-button><mat-icon>login</mat-icon></button>
            <button *ngIf="isLoggedIn" (click)="onLogout()" class="logoutbutton" routerLink="/auth" mat-icon-button><mat-icon>logout</mat-icon></button>
        </div>

    </div>
</div>