<div class="gridcontainer">
    <div class="settingscontainer">
        <div class="settings">
            <div class="teamselect">
                <mat-form-field class="teamselectfield" [style.width.px]=120 [style.height.px]=40 appearance="outline">
                    <mat-label>Team</mat-label>
                    <mat-select [(value)]="teamFilter" (selectionChange)="teamFilterChange($event)">
                        <mat-option *ngFor="let team of teams" value="{{team.name}}">
                            <span><img class="selectteamimage"  height="30" src="{{team.imageurl}}"></span><span>{{team.name}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="weekselect">
                <mat-form-field [style.width.px]=80 appearance="outline">
                    <mat-label>Week</mat-label>
                    <mat-select [(value)]="weekFilter" (selectionChange)="weekFilterChange($event)">
                        <mat-option *ngFor="let week of weeks" value="{{week + 1}}">
                            {{week + 1}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button (click)="resetFilters()" *ngIf="teamFilter || weekFilter" color="warn" mat-icon-button><mat-icon>clear</mat-icon></button>
            <div class="optionsselect" *ngIf="isAdmin">
                <button color="primary" mat-icon-button><mat-icon>more_vert</mat-icon></button>
            </div>
            <!-- <button mat-button (click)="testbutton()">GG</button> -->

        </div>
    </div>

    <div class="gamecontainer">
        <ng-container *ngIf="isLoading">
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </ng-container>
        <!-- <ng-container *ngIf="!isLoading">
            <div class="gamecard" *ngFor="let game of games">
                <div class="infoview">
                    <p class="infoviewlabel">Week: </p> <p class="infoviewvalue">{{game.week}}</p>
                    <div *ngIf="isAdmin" class="gameoptions">
                        <button [matMenuTriggerFor]="menu" class="adminbutton" color="primary" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Change Line</button>
                            <button mat-menu-item>Add Result</button>
                            <button (click)="deleteGame(game._id)" mat-menu-item>Delete Game</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="hometeam teamviev">
                    <div class="teamimage">
                        <img src="{{game.hometeam.imageurl}}" alt="{{game.hometeam.name}}">
                    </div>
                    <p>{{game.hometeam.name}}</p>
                    <p class="record">({{game.hometeam.record}})</p>
                </div>
                <div class="awayteam teamviev">
                    <div class="teamimage">
                        <img src="{{game.awayteam.imageurl}}" alt="{{game.awayteam.name}}">
                    </div>
                    <p>{{game.awayteam.name}}</p>
                    <p class="record">({{game.awayteam.record}})</p>
                </div>
                <div class="buttonrow" *ngIf="hasFavorite(game) && !isSettingPrediction">
                     <button (click)="setPrediction(game._id, 1)" [ngClass]="{'predictedbutton' : seeIfPredicted(game._id, 1)}" [disabled]="!isLoggedIn" class="predictionbutton" color="primary" mat-stroked-button>
                        {{game.hometeam.abbreviation | uppercase}} {{(isTeamFavorite(game.hometeam, game) ? '-' : '+') }}{{game.spread}}
                    </button>
                    <button (click)="setPrediction(game._id, 2)" [ngClass]="{'predictedbutton' : seeIfPredicted(game._id, 2)}" [disabled]="!isLoggedIn" class="predictionbutton" color="primary" mat-stroked-button>
                        Push
                    </button>
                    <button (click)="setPrediction(game._id, 3)" [ngClass]="{'predictedbutton' : seeIfPredicted(game._id, 3)}" [disabled]="!isLoggedIn" class="predictionbutton" color="primary" mat-stroked-button>
                        {{game.awayteam.abbreviation  | uppercase}} {{(isTeamFavorite(game.awayteam, game) ? '-' : '+')}}{{game.spread}}
                    </button>
                </div>
                <div class="favnotsettext" *ngIf="(!hasFavorite(game))">
                    <h3>Spread has not been set</h3>
                </div>
            </div>        
    
        </ng-container> -->
        <ng-container *ngIf="!isLoading">
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>
            <app-gamecard></app-gamecard>

            <!-- <div class="gamecard" *ngFor="let game of games">
                <div class="infoview">
                    <p class="infoviewlabel">Week: </p> <p class="infoviewvalue">{{game.week}}</p>
                    <div *ngIf="isAdmin" class="gameoptions">
                        <button [matMenuTriggerFor]="menu" class="adminbutton" color="primary" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Change Line</button>
                            <button mat-menu-item>Add Result</button>
                            <button (click)="deleteGame(game._id)" mat-menu-item>Delete Game</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="hometeam teamviev">
                    <div class="teamimage">
                        <img src="{{game.hometeam.imageurl}}" alt="{{game.hometeam.name}}">
                    </div>
                    <p>{{game.hometeam.name}}</p>
                    <p class="record">({{game.hometeam.record}})</p>
                </div>
                <div class="awayteam teamviev">
                    <div class="teamimage">
                        <img src="{{game.awayteam.imageurl}}" alt="{{game.awayteam.name}}">
                    </div>
                    <p>{{game.awayteam.name}}</p>
                    <p class="record">({{game.awayteam.record}})</p>
                </div>
                <div class="buttonrow" *ngIf="hasFavorite(game) && !isSettingPrediction">
                     <button (click)="setPrediction(game._id, 1)" [ngClass]="{'predictedbutton' : seeIfPredicted(game._id, 1)}" [disabled]="!isLoggedIn" class="predictionbutton" color="primary" mat-stroked-button>
                        {{game.hometeam.abbreviation | uppercase}} {{(isTeamFavorite(game.hometeam, game) ? '-' : '+') }}{{game.spread}}
                    </button>
                    <button (click)="setPrediction(game._id, 2)" [ngClass]="{'predictedbutton' : seeIfPredicted(game._id, 2)}" [disabled]="!isLoggedIn" class="predictionbutton" color="primary" mat-stroked-button>
                        Push
                    </button>
                    <button (click)="setPrediction(game._id, 3)" [ngClass]="{'predictedbutton' : seeIfPredicted(game._id, 3)}" [disabled]="!isLoggedIn" class="predictionbutton" color="primary" mat-stroked-button>
                        {{game.awayteam.abbreviation  | uppercase}} {{(isTeamFavorite(game.awayteam, game) ? '-' : '+')}}{{game.spread}}
                    </button>
                </div>
                <div class="favnotsettext" *ngIf="(!hasFavorite(game))">
                    <h3>Spread has not been set</h3>
                </div>
            </div>         -->
        </ng-container>
    </div>
</div>
