<div class="gridcontainer">
    <div class="settingscontainer">
        <div class="settings">
            <div class="teamselect">
                <mat-form-field class="teamselectfield" [style.width.px]=120 [style.height.px]=40 appearance="outline">
                    <mat-label>Team</mat-label>
                    <mat-select [(value)]="teamFilter" (selectionChange)="teamFilterChange($event)">
                        <mat-option *ngFor="let team of teams" value="{{team.name}}">
                            <span><img class="selectteamimage"  height="30" src="{{team.imageurl}}"></span><span>{{team.name}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="weekselect">
                <mat-form-field [style.width.px]=80 appearance="outline">
                    <mat-label>Week</mat-label>
                    <mat-select [(value)]="weekFilter" (selectionChange)="weekFilterChange($event)">
                        <mat-option *ngFor="let week of weeks" value="{{week + 1}}">
                            {{week + 1}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button (click)="resetFilters()" *ngIf="teamFilter || weekFilter" color="warn" mat-icon-button><mat-icon>clear</mat-icon></button>
            <div class="optionsselect" *ngIf="isAdmin">
                <button color="primary" mat-icon-button><mat-icon>more_vert</mat-icon></button>
            </div>
            <!-- <button mat-button (click)="testbutton()">GG</button> -->

        </div>
    </div>

    <div class="gamecontainer">
        <ng-container *ngIf="isLoading">
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </ng-container>
        <ng-container *ngIf="!isLoading">
            <app-gamecard 
                *ngFor="let game of gameView" 
                [gameID]="game.gameID" [gamePrediction]="getGamePrediction(game.gameID)" 
                [isUpdating]="game.isUpdating" 
                (updateExistingPredictionEvent)="updatePrediction($event)" 
                (setNewPredictionEvent)="setPrediction($event)"
                (reloadGames)="getGames()">
            </app-gamecard>
        </ng-container>
    </div>
</div>
